@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #050505;
    color: #e0e0e0;
  }

  body {
    @apply font-mono;
  }
}

@layer utilities {
  .crt-overlay {
    background: linear-gradient(rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 50;
  }

  .text-shadow-neon {
    text-shadow: 0 0 5px rgba(0, 243, 255, 0.8),
      0 0 10px rgba(0, 243, 255, 0.5),
      0 0 20px rgba(0, 243, 255, 0.3);
  }

  .text-shadow-purple {
    text-shadow: 0 0 5px rgba(188, 19, 254, 0.8),
      0 0 10px rgba(188, 19, 254, 0.5);
  }

  .animate-flicker {
    animation: flicker 4s infinite;
  }
}



/* Custom Scrollbar for that industrial look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
  border-left: 1px solid #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border: 1px solid #00f3ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
  box-shadow: 0 0 10px #00f3ff;
}